body {
  padding: 0;
  margin: 0;
}

.sizer1 {
  width: 100%;
}

.sizer2 {
  width: 50%;
}

.sizer4 {
  width: 25%;
}

.item-masonry {
  position: relative;
}

.item-masonry img {
  width: 100%;
  height: auto;
  display: block;
}

.cover-item-gallery {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  display: none;
}

.cover-item-gallery a{
  display: block;
  width: 100%;
  height: 100%;
}

.cover-item-gallery a i.fa{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -11px;
  margin-top: -11px;
}